@font-face {
    font-family: "VonwaonBitmap-16px";
    src: url("../font/VonwaonBitmap-16px.ttf");
}

* {
    margin: 0;
    padding: 0%;
    background-size: cover;
    font-family: "VonwaonBitmap-16px";
}

:root {
    --dark: #fff;
    --main-bg: #140f1d;
    --input-bg: #272133;
    --light-color: #a19fb1;
}

body {
    height: 100vh;
    background: var(--main-bg);
}

.container {
    padding: 10px 20px;
}

.row {
    display: flex;
}

.navigation .row {
    height: 32px;
    display: flex;
    align-items: center;
}

.navigation .logo {
    flex-grow: 1;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.navigation .logo img {
    padding: 0 10px 0 0;
}

.navigation .logo b {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark);
}

.navigation .logo span {
    font-size: 16px;
    font-weight: 400;
    margin-top: 3px;
    color: var(--light-color);
}

/* search */
.navigation .search {
    position: relative;
}

.navigation .search input {
    padding: 4px 8px;
    width: 32px;
    height: 32px;
    background: none;
    border: 2px solid var(--dark);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: .5s;
}

#checkbox {
    display: none;
}

[for=checkbox] {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    position: absolute;
    right: 0;
    transition: .4s;
    background-image: url("../img/zoom.png");
}

#checkbox:checked~label {
    border-radius: 8px;
    background-image: url("../img/cross.png");
    margin: 0;
}

#checkbox:checked~input {
    width: 200px;
    border-radius: 8px;
    background-color: var(--input-bg);
    color: var(--dark);
}

.main {
    padding: 0 72px;
    margin-top: 10px;
}

.main .home-left-column {
    width: 20%;
    padding-right: 20px;
    display: block;
}

.main .home-middle-column {
    width: 80%;
    height: 100vh;
    display: flex;
    background: var(--input-bg);
    border-radius: 10px;
}

/* calendar */
.main .calendar {
    position: relative;
    color: var(--dark);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3), 0 12px 8px rgba(255, 255, 255, 0.2);
}

.calendar header {
    height: 50px;
    background: var(--input-bg);
    border-radius: 10px 10px 0 0;
    padding: 10px 50px;
}

.other-month {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
}

.last-month {
    left: 0px;
    background: url(../img/backward.png) no-repeat 50% 50%;
}

.next-month {
    right: 0px;
    background: url(../img/forward.png) no-repeat 50% 50%;
}

#day {
    font-size: 32px;
    text-transform: lowercase;
}

#month {
    font-size: 16px;
    text-transform: capitalize;
}

.calendar .body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.calendar .body thead {
    color: aqua;
    text-transform: uppercase;
}

.calendar .body td {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: .2s;
    font-size: 16px;
}

.next-month-days,
.last-month-days {
    color: #a19fb1;
}

.current-day {
    color: chartreuse;
}

.calendar tbody td:hover {
    background: aqua;
    color: var(--main-bg);
}

/* hamburger navigation */

.burger-nav {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.burger-nav img {
    height: 32px;
    width: 32px;
}

.burger-content {
    display: none;
    position: absolute;
}

.burger-nav:hover .burger-content {
    display: block;
}

.burger-content a {
    text-decoration: none;
    color: var(--dark);
}