@media (max-width: 820px) {
    .header-menu nav ul a {display: none;}
    .header-menu a.menu-btn {
        display: flex;
        z-index: 1;
    }
    .header-menu.responsive nav ul {
        display: block;
    }
    .header-menu.responsive nav ul li a {
        float: none;
        display: block;
        text-align: left;
        padding: 5px 12px;
    }
    .header-menu.responsive nav {
        position: absolute;
        padding: 10px 0;
        background-color: rgb(179, 176, 176);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        right: 0;
        border-radius: 6px;
        top: 55px;
    }
    .main {
        justify-content: center;
    }
}

@media (max-width: 320px) {
	.search {
		display: none;
	}
	.logo {
		margin-right: 40px;
	}
	.menu-btn {
		position: absolute;
		font-size: 25px;
		padding: 0 6px;
		right: 0;
	}
}
