@charset "UTF-8";


body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	background-image: url("../svg/bg-animal.svg");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

ul {
	list-style: none;
}

button, input {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

header {
    float: left;
	width: 100%;
    background-color: #e2a684;
}

body, html, .home, header,
.container, .header-data, .menu-plane, .menu-header-plane, 
.menu-header-list, .menu-header-list li, .menu-header-list a{
	height: 100%;
}

header, .container, .header-data, .menu-plane, .menu-header-plane, 
.menu-header-list, .menu-header-list li{
	height: 62px;
}

.header-data, .menu-plane{
	display: flex;
	align-items: center;
}

.home {
	width: 100%;
}

.header-data {
	float: left;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header-logo-plane {
    float: left;
    width: 120px;
	margin-right: 20px;
    margin-top: 4px;
	margin-left: 25px;
}

/* search-bar */

.search-plane {
	float: left;
	width: 215px;
}

.search-plane form {
	float: left;
	width: 100%;
	display: flex;
}

.search-plane form input{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
	font-size: 12px;
	padding: 0 10px;
	height: 38px;
	background-color: #fff;
	color: #b2b2b2;
}

.search-plane form button{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	height: 38px;
	background-color: #fff;
}


/* menu-palne */


.menu-header-plane a {
	padding: 0 10px;
	height: 100%;
	line-height: 62px;
}

.menu-header-list {
	margin: 0;
}

.menu-header-list li {
	float: left;
}

.menu-header-plane a:link, .menu-header-plane a:visited {
	display: block;/*设置为块元素*/
	width: 120px;
	text-align: center;
}

.menu-header-plane a:hover, .menu-header-plane a:active {
	/* background-color: #bc3b3b; */
	color: #b1edfa;
}

