* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: 'DM Sans', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	background: #699ef3;
}

.container {
	display: flex;
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	background: #ffffff;
	width: 200px;
	overflow: hidden;
	border-radius: 10px;
	transition: 0.5s;
	margin-top: 39px;
	box-shadow: 10px 10px;
}

.btn {
	width: 100px;
	height: 20px;
	display: flex;
	justify-content: space-around;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.btn-item {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.btn-item:nth-child(1) {
	background: #eb5a56;
}

.btn-item:nth-child(2) {
	background: #f8bc33;
}

.btn-item:nth-child(3) {
	background: #62cb44;
}

.icon-hy {
	width: 180px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.icon-img {
	width: 60px;
	height: 60px;
}

.icon-con {
	height: 60px;
	margin-left: 5px;
}

.icon-con p {
	height: 12px;
	margin-bottom: 15px;
}

.icon-con h2 {
	height: 18px;
}

.hline {
	width: 180px;
	height: 2px;
	background: #383838;
	margin: 15px 10px;
	transition: 0.5s;
}

.title {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.title p {
	font-size: 20px;
	font-weight: bold;
}

.navigation,
.content {
	width: 200px;
}

.item {
	display: flex;
	position: relative;
	transition: 0.5s;
	border-radius: 6px;
	padding: 10px;
}

.item:hover {
	background-color: #f8bc33;
}

.icon {
	height: 30px;
	width: 30px;
}

.con {
	height: 30px;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin-left: 10px;
}


/* -------------------------main-------------------------- */

.main{
	flex-grow: 1;
}

.top, .top .menu {
	display: flex;
	align-items: center;
	height: 70px;
	background: #ffffff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.top{
	margin-left: 20px;
	margin-bottom: 15px;
	margin-top: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 10px 10px;
}

.top::after{
	content: "";
	display: table;
	clear: both;
}

.logo{
	width: 200px;
	padding: 5px;
	height: 70px;
	background: #f8bc33;
	margin-left: auto;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.buttom {
	height: 100%;
	flex-grow: 1;
	display: flex;
}

.left{
	flex-grow: 1;
	margin-left: 20px;
	margin-right: 20px;
}

.search-bar{
	display: flex;
	border-radius: 10px;
	justify-content: center;
	margin-bottom: 30px;
	flex-grow: 1;
	height: 52px;
	box-shadow: 10px 10px;
}

.search-bar::after{
	clear: both;
	content: "";
	display: table;
}

.select{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-left: 10px;
}

.search{
	width: 100%;
	padding-left: 20px;
}

.select, .search{
	outline: 0;
	font-size: 18px;	
}

.search-btn{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #ffffff;
	outline: 0;
}

.search-btn::after{
	clear: both;
	content: "";
	display: table;
}

.search-btn .icon{
	padding: 3px;
	margin-right: 8px;
}

.post-container {
	height: 100%;
	width: 100%;
	background: #62cb44;
}

.right{
	width: 200px;
	height: 100%;
	background: #eb5a56;
}
