@charset "UTF-8";


body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	background-image: url("../svg/bg-animal.svg");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* background-image: url("../svg/bg-animal.svg");
	background-size: cover; */
}

ul {
	list-style: none;
}

button, input {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.home {
	width: 100%;
}

header {
    float: left;
	width: 100%;
    background-color: #e2a684;
}

.header-data {
	float: left;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header-logo-plane {
    float: left;
    width: 120px;
	padding: 5px;
	margin-right: 20px;
    margin-top: 4px;
	margin-left: 25px;
}

.search-bar {
	float: left;
	width: 215px;
	margin-top: 9px;
}

.search-bar form {
	float: left;
	width: 100%;
	display: flex;
}

.search-bar form input{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
	font-size: 12px;
	padding: 0 10px;
	height: 38px;
	background-color: #fff;
	color: #b2b2b2;
}

.search-bar form button{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	height: 38px;
	background-color: #fff;
}

/* .header-menu {
	justify-content: center;
	align-items: center;
} */

.menu-header-plane {
	text-align: center;
}

.menu-header-list {
	display: inline-block;
}

.menu-header-list li {
	float: left;
}

.menu-header-plane a:link, .menu-header-plane a:visited {
	display: block;/*设置为块元素*/
	width: 120px;
	text-align: center;
	padding: 10px;
}

.menu-header-plane a:hover, .menu-header-plane a:active {
	/* background-color: #bc3b3b; */
	color: #b1edfa;
}



/* .user-menu-plane {
	position: relative;
	display: inline-block;
}

.user-info {
	display: flex;
	width: 38px;
}

.user-info a {
	display: block;
	margin-left: 1px;
	margin-top: 8px;
}

.user-account-settings {
	display: none;
	position: absolute;
	border-radius: 5px;
	background-color: snow;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.user-menu-plane:hover .user-account-settings {
	display: block;
}

.user-account-settings a{
	color: black;
} */